configuration {
	show-icons:	true;
	icon-themes: "Papirus";
  font: "SauceCodePro Nerd Font Medium 10";
  modi: "window,run,drun";

  drun {
    display-name: " ";
  }

  run {
    display-name: "";
  }

  window {
    display-name: " ";
  }

  timeout {
    delay: 10;
    action: "kb-cancel";
  }

}

//@theme "/home/wesleydev/.config/rofi/themes/nord2.rasi"
//@theme "/home/wesleydev/.config/rofi/themes/nord3.rasi"
@theme "/home/wesleydev/.config/rofi/themes/nord2.rasi"
